<!DOCTYPE html>
<html lang="en">
<!-- LOGIN : stagiaire
PASSWORD : motdepassesolide -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confidentialite</title>
    <script src="/static/js/scripts.js" defer></script>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
    <h1>Nous aimons la confidentialité</h1>
    <p>Les données personnelles de nos utilisateurs sont traitées avec la plus grande confidentialité. Nous ne les
        partageons pas avec des tiers.</p>
    <p>Les cookies sont utilisés pour améliorer l'expérience de nos utilisateurs. En naviguant sur notre site, vous
        acceptez l'utilisation de ces cookies.</p>
    <p>Si vous avez des questions concernant la confidentialité de vos données, n'hésitez pas à nous contacter.</p>
</body>

</html>