<!DOCTYPE html>
<html lang="en">
<!-- LOGIN : stagiaire
PASSWORD : remi -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mentions-legales</title>
    <script src="/static/js/scripts.js" defer></script>
    <link rel="stylesheet" href="/static/css/styles.css">

</head>

<body>

    <h1>Mentions Légales</h1>
    <p>Ce site web est édité par la société Alix's Industries, une société au capital de 1 000 000 000 €, immatriculée
        au Registre du Commerce et des Sociétés sous le numéro 123 456 789.</p>
    <p>Siège social : 123 Rue Imaginaire, 35000 Rennes, France</p>
    <p>Hébergeur : HébergeurFictif, 456 Avenue Inexistante, 75000 Paris, France</p>
    <p>Pour toute question, vous pouvez nous contacter par email à contact@alix'sindustries.com ou par téléphone au 01
        23 45 67 89.</p>


</html>